@import 'variables.scss';

.common-select {
    width: 100%;
    .common-select__control {
        cursor: pointer;
        background: transparent;
        border: 0 !important;
        border-radius: 15px;
        min-height: 20px;
        outline: none !important;
        box-shadow: none!important;
        &.common-select__control--menu-is-open{
            .common-select__indicator:not(.common-select__clear-indicator) {
                svg{
                    transform: rotate(-180deg);
                }
            }
        }
    }
    .common-select__value-container {
        padding: 0;
    }
    .common-select__single-value,
    .common-select__placeholder,
    .common-select__input {
        color: #fff;
        font-family: 'Simonetta', cursive;
        font-size: 15px;
        // text-shadow: 0 0 3px #000;
        font-weight: 900;
    }
    .common-select__single-value,
    .common-select__placeholder{
        padding: 0 2px;
    }
    .common-select__input {
        padding: 0 2px;
        
    }
    .common-select__indicator {
        padding: 0;
        svg {
            fill: #fff;
            transition: transform .2s $filter-bezier;
        }
    }
    .common-select__indicator-separator {
        display: none;
    }
    .common-select__menu {
        // margin-top: 3px;
        border-color: $filter-box-border;
        border-style: solid;
        border-left-width: 3px;
        border-right-width: 3px;
        // border-top: 0;
        outline: 0;
        background: $filter-box-background;
        // border-top-left-radius: 0;
        // border-top-right-radius: 0;
        z-index: 20;
    
    }
    ::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }
    .common-select__menu-list {
        max-height: 160px;
        padding-bottom: 0;
        padding-top: 0;
    }
    .common-select__option {
        cursor: pointer;
        color: #fff;
        font-size: 14px;
        &.common-select__option--is-focused{
            background: darken($color: $filter-box-background, $amount: 5);
        }
        &.common-select__option--is-selected{
            background: darken($color: $filter-box-background, $amount: 5);
            font-weight: bold;
        }
    }
}