// ======== Colors ========

// Scrollbar colors
$scrollbar-background: #a49079;
$scrollbar-tracker: #4b382a;

// Filters
$filter-circle-inner-border: #fdc928;
$filter-circle-outer-border: #46280e;
$filter-box-background: #88633A;
$filter-box-border: #E2C88E;

// ======== Curves ========

// Filters
$filter-bezier: cubic-bezier(0.445, 0.05, 0.55, 0.95);