@import "/src/styles/variables.scss";

.class-filter {
    margin-bottom: 7px;
    .class-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        user-select: none;
    }
    .class-icon {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        margin: 5px 5px;
        max-width: 60px;
        .class-img {
            border-radius: 50%;
            border: 2px solid $filter-circle-inner-border;
            box-shadow: 0 0 0 3px $filter-circle-outer-border;
            transition: 0.2s all $filter-bezier;
        }
        img {
            width: 34px;
            display: block;
        }
        span {
            background: #000;
            border-radius: 5px;
            color: #fff;
            font-size: 14px;
            font-weight: 900;
            font-family: "Simonetta", cursive;
            line-height: 1;
            opacity: 0;
            padding: 3px 6px;
            pointer-events: none;
            position: absolute;
            text-align: center;
            text-shadow: 0 0 5px #000;
            transform: translateY(41px);
            transition: 0.3s opacity $filter-bezier, 0.3s transform $filter-bezier, visibility 0s 0.3s;
            transition-duration: 0.2s;
            visibility: hidden;
            z-index: 9;
            &:before {
                content: "";
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-bottom: 5px solid black;
                position: absolute;
                top: -4px;
                left: 50%;
                transform: translateX(-50%);
            }
        }
        &.selected {
            .class-img {
                transform: scale(1.1);
            }
        }
        &:hover {
            .class-img {
                transform: scale(1.1);
            }
            span {
                opacity: 1;
                transform: translateY(46px);
                transition-delay: 0s;
                transition-duration: 0.3s;
                visibility: visible;
            }
        }
    }
    &.filtered {
        .class-icon:not(.selected) {
            .class-img {
                filter: grayscale(90%);
                opacity: 0.6;
            }
        }
    }
}
