@import '/src/styles/variables.scss';

.card{
  perspective: 800px;
  perspective-origin: 50% 50%;
  cursor: pointer;
  max-width: 256px;
  position: relative;
  width: 33.33%;
  background: url('/src/images/card-back.png') no-repeat 56% 52%;
  background-size: 82%;
  &:after{
    content: '';
    display: block;
    padding-bottom: 151.5625%;
  }
  img{
    height: 100%;
    position: absolute;
    transition: transform .25s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
  }
  &:hover {
    >*{
      transform: scale(1.1);
      transition-duration: .4s;
    }
  }
  &.card-hero {
    img{
      transform: translateY(-4.5%);
    }
    &:hover {
      img{
        transform: translateY(-4.5%) scale(1.1);
      }
    }
  }
  @media (max-width: 829px) {
    width: 50%;
  }
  @media (min-width: 1210px) {
    width: 25%;
  }
  @media (min-width: 1568px) {
    width: 20%;
  }
  &.no-image {
    background: none;
  }
  .no-image-card {
    background: url('/src/images/card-default.png') no-repeat 50% 28%;
    background-size: 93%;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    transition: transform .25s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    .card-image {
      width: 50%;
      height: 45%;
      position: absolute;
      top: 11%;
      left: 26.2%;
      background: $filter-box-border;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      background: fade-out($color: #fff, $amount: 0.5);
      color: $filter-box-background;
      text-align: center;
      font-family: 'Simonetta', cursive;
      font-size: 20px;
      font-weight: 900;
      text-shadow: 0 0 2px #fff;
      padding: 0 10%;
      line-height: .9;
    }
    .card-title {
      background: url('/src/images/title.png') no-repeat 50% 50%;
      background-size: contain;
      position: relative;
      width: 76%;
      position: absolute;
      top: 47%;
      left: 13%;
      &::before {
        content: '';
        display: block;
        padding-bottom: 23.6%;
      }
      span{
        color: #fff;
        font-family: 'Simonetta', cursive;
        font-size: 14px;
        font-weight: 900;
        left: 50%;
        pointer-events: none;
        position: absolute;
        text-shadow: 0 0 3px #000;
        top: 50%;
        transform: translate(-50%,-70%) rotate(-5deg);
        z-index: 2;
        white-space: nowrap;
        text-align: center;
      }
    }
    .card-text {
      position: absolute;
      top: 59%;
      left: 16%;
      width: 70%;
      height: 27%;
      display: flex;
      text-align: center;
      justify-content: center;
      align-items: center;
      font-size: 12px;
      flex-direction: column;
      letter-spacing: -.5px;
      line-height: .99;
      padding: 0px 8% 4%;
    }
    .card-cost {
      background: url('/src/images/gem.png') no-repeat 50% 50%;
      background-size: contain;
      position: relative;
      width: 22%;
      position: absolute;
      top: 10%;
      left: 7%;
      &::before {
        content: '';
        display: block;
        padding-bottom: 100%;
      }
      span{
        color: #fff;
        font-family: 'Simonetta', cursive;
        font-size: 40px;
        font-weight: 900;
        left: 50%;
        margin-bottom: 5px;
        pointer-events: none;
        position: absolute;
        text-shadow: 0 0 5px #000;
        top: 50%;
        transform: translate(-50%,-50%) rotate(-8deg);
        z-index: 2;
      }
    }
    .card-attack {
      background: url('/src/images/attack.png') no-repeat 50% 50%;
      background-size: contain;
      position: relative;
      width: 27%;
      position: absolute;
      bottom: 8%;
      left: 2%;
      &::before {
        content: '';
        display: block;
        padding-bottom: 110%;
      }
      span{
        color: #fff;
        font-family: 'Simonetta', cursive;
        font-size: 30px;
        font-weight: 900;
        left: 60%;
        margin-bottom: 5px;
        pointer-events: none;
        position: absolute;
        text-shadow: 0 0 5px #000;
        top: 55%;
        transform: translate(-50%,-50%);
        z-index: 2;
      }
    }
    .card-health {
      background: url('/src/images/health.png') no-repeat 50% 50%;
      background-size: contain;
      position: relative;
      width: 20%;
      position: absolute;
      bottom: 9%;
      right: 4%;
      &::before {
        content: '';
        display: block;
        padding-bottom: 130%;
      }
      span{
        color: #fff;
        font-family: 'Simonetta', cursive;
        font-size: 30px;
        font-weight: 900;
        left: 57%;
        margin-bottom: 5px;
        pointer-events: none;
        position: absolute;
        text-shadow: 0 0 5px #000;
        top: 54%;
        transform: translate(-50%,-50%);
        letter-spacing: -1px;
        z-index: 2;
      }
    }
  }
}